.env
.env.*
!.env.example

.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/

airflow/logs/
airflow/config/airflow.cfg
airflow/airflow.db
*.log

*.parquet
*.orig
*.bak

infrastructure/lambda/environment.json
infrastructure/lambda/stop_environment.json
